#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    dot_exclamation: dot_exclamation {
        compatible = "zmk,behavior-mod-morph";
        label = "DOT_EXCLAMATION";
        bindings = <&kp PERIOD>, <&kp EXCLAMATION>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    comma_question: comma_question {
        compatible = "zmk,behavior-mod-morph";
        label = "COMMA_QUESTION";
        bindings = <&kp COMMA>, <&kp QUESTION>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    minus_caret: minus_caret {
        compatible = "zmk,behavior-mod-morph";
        label = "MINUS_CARET";
        bindings = <&kp MINUS>, <&kp CARET>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    Rlt: Rlt {
        compatible = "zmk,behavior-hold-tap";
        label = "RLT";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33>;
        hold-trigger-on-release;
    };

    Llt: Llt {
        compatible = "zmk,behavior-hold-tap";
        label = "LLT";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41 46 47>;
        hold-trigger-on-release;
    };

    Rmt: Rmt {
        compatible = "zmk,behavior-hold-tap";
        label = "RMT";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33>;
        hold-trigger-on-release;
    };

    Lmt: Lmt {
        compatible = "zmk,behavior-hold-tap";
        label = "LMT";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41 46 47>;
        hold-trigger-on-release;
    };

    Rmt_dot: Rmt_dot {
        compatible = "zmk,behavior-hold-tap";
        label = "RMT_DOT";
        bindings = <&kp>, <&dot_exclamation>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33>;
        hold-trigger-on-release;
    };

    Rlt_comma: Rlt_comma {
        compatible = "zmk,behavior-hold-tap";
        label = "RLT_COMMA";
        bindings = <&mo>, <&comma_question>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <125>;
        flavor = "balanced";
        hold-trigger-key-positions = <45 46 47 42 43 44 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33>;
        hold-trigger-on-release;
    };

    Gaming_layer: Gaming_layer {
        compatible = "zmk,behavior-hold-tap";
        label = "GAMING_LAYER";
        bindings = <&tog>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <750>;
        flavor = "tap-preferred";
    };

    space_lt: space_lt {
        compatible = "zmk,behavior-hold-tap";
        label = "SPACE_LT";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        flavor = "tap-preferred";
    };

    combos {
        compatible = "zmk,combos";

        semicolon-Return {
            bindings = <&semicolon_Return>;
            key-positions = <25 26>;
            layers = <0>;
        };

        space_EnCn {
            bindings = <&space_EnCn>;
            key-positions = <44 45>;
            timeout-ms = <350>;
        };

        CtrC {
            bindings = <&kp LC(C)>;
            key-positions = <0 1>;
            layers = <0>;
        };

        CtrA_CtrC {
            bindings = <&CtrA_CtrC>;
            key-positions = <0 1 2>;
            layers = <0>;
        };

        CtrV {
            bindings = <&kp LC(V)>;
            key-positions = <13 14>;
            layers = <0>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <38 39>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <41 40>;
        };

        Capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <39 40>;
        };

        colon_enter {
            bindings = <&colon_enter>;
            key-positions = <37 38>;
            layers = <1>;
        };
    };

    macros {
        semicolon_Return: semicolon_Return {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&macro_wait_time 30>, <&kp RET>;

            label = "SEMICOLON_RETURN";
        };

        space_EnCn: space_EnCn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&macro_wait_time 30>, <&kp LC(SPACE)>;

            label = "SPACE_ENCN";
        };

        CtrA_CtrC: CtrA_CtrC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A)>, <&macro_wait_time 30>, <&kp LC(C)>;

            label = "CTRA_CTRC";
        };

        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&macro_wait_time 30>, <&kp LS(END)>;

            label = "SELECT_LINE";
        };

        colon_enter: colon_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&macro_wait_time 30>, <&kp RET>;

            label = "COLON_ENTER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            display-name = "默认层";
            bindings = <
&kp ESC                &kp Q  &kp W            &kp E              &kp R         &kp T                                     &kp UP                &kp Y                  &kp U         &kp I               &kp O                 &kp P             &kp BSPC
&mt LA(TAB) TAB        &kp A  &Llt 1 S         &Lmt LEFT_SHIFT D  &Llt 2 F      &kp G                           &kp LEFT  &kp ENTER  &kp RIGHT  &kp H                  &Rlt 3 J      &Rmt RIGHT_SHIFT K  &Rlt 1 L              &kp RETURN        &minus_caret
&Gaming_layer 7 COLON  &kp Z  &Lmt LEFT_ALT X  &Llt 5 C           &Lmt LCTRL V  &kp B              &kp SPACE              &kp DOWN              &kp N                  &Rmt RCTRL M  &Rlt_comma 4 0      &Rmt_dot RIGHT_ALT 0  &kp SINGLE_QUOTE  &kp BACKSLASH
                                               &kp DELETE         &sl 6         &space_lt 2 SPACE                                               &space_lt 3 LC(SPACE)  &kp LEFT_WIN  &kp SLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        Symbols {
            bindings = <
&trans  &kp GRAVE        &kp LESS_THAN  &Lmt LEFT_ALT GREATER_THAN  &kp MINUS              &kp PIPE                         &trans          &kp CARET    &kp LEFT_BRACE                     &Rmt RIGHT_ALT RIGHT_BRACE            &kp DOLLAR     &kp QUESTION       &trans
&trans  &kp EXCLAMATION  &kp ASTERISK   &Lmt LEFT_CONTROL SLASH     &Lmt LEFT_SHIFT EQUAL  &kp AMPERSAND            &trans  &trans  &trans  &kp HASH     &Rmt RIGHT_SHIFT LEFT_PARENTHESIS  &Rmt RIGHT_CONTROL RIGHT_PARENTHESIS  &kp SEMICOLON  &kp DOUBLE_QUOTES  &trans
&trans  &kp TILDE        &kp PLUS       &kp LEFT_BRACKET            &kp RIGHT_BRACKET      &kp PERCENT    &trans            &trans          &kp AT_SIGN  &kp COLON                          &kp COMMA                             &kp DOT        &kp APOSTROPHE     &trans
                                        &trans                      &tog 1                 &trans                                           &trans       &trans                             &trans
            >;

            label = "符号层";
        };

        Navigation {
            bindings = <
&trans  &trans     &kp LC(X)       &kp LEFT_ALT  &trans  &trans                    &trans          &kp PAGE_UP    &kp HOME          &kp UP             &kp END            &select_line  &trans
&trans  &kp LC(F)  &kp LEFT_SHIFT  &kp LCTRL     &trans  &trans            &trans  &trans  &trans  &kp PAGE_DOWN  &kp LEFT          &kp DOWN           &kp RIGHT          &kp DELETE    &trans
&trans  &trans     &kp LC(C)       &kp LC(V)     &trans  &trans  &trans            &trans          &kp LC(Z)      &kp LC(LS(LEFT))  &kp LS(LC(RIGHT))  &kp K_APPLICATION  &kp INS       &trans
                                   &trans        &tog 2  &trans                                    &trans         &trans            &trans
            >;

            label = "导航层";
        };

        Numbers {
            bindings = <
&trans  &kp FSLH   &kp N9  &kp N8  &kp N7  &kp STAR                       &trans          &trans  &trans  &kp RALT   &kp E      &trans         &trans
&trans  &kp MINUS  &kp N6  &kp N5  &kp N4  &kp PLUS               &trans  &trans  &trans  &trans  &trans  &kp RCTRL  &kp RSHFT  &kp BACKSPACE  &trans
&trans  &kp X      &kp N3  &kp N2  &kp N1  &kp PERCENT  &trans            &trans          &trans  &trans  &kp COMMA  &kp DOT    &trans         &trans
                           &trans  &tog 3  &trans                                         &kp N0  &trans  &trans
            >;

            label = "数字层";
        };

        Fkey {
            bindings = <
&kp F24  &kp F15  &kp F9  &kp F8  &kp F7  &kp F12                    &trans          &trans  &trans               &trans  &trans     &trans  &trans
&kp F17  &kp F14  &kp F6  &kp F5  &kp F4  &kp F11            &trans  &trans  &trans  &trans  &kp RC(RIGHT_SHIFT)  &trans  &kp RALT   &trans  &trans
&kp F16  &kp F13  &kp F3  &kp F2  &kp F1  &kp F10  &trans            &trans          &trans  &kp RCTRL            &trans  &kp RSHFT  &trans  &trans
                          &trans  &tog 4  &trans                                     &trans  &trans               &trans
            >;

            label = "功能区";
        };

        Application {
            bindings = <
&trans  &trans  &trans     &trans  &trans              &trans                    &trans          &trans  &kp LG(LC(N4))  &kp LG(LC(N5))  &kp LG(LC(N6))  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF
&trans  &trans  &kp LALT   &trans  &kp LC(LEFT_SHIFT)  &trans            &trans  &trans  &trans  &trans  &kp LG(LC(N1))  &kp LG(LC(N2))  &kp LG(LC(N3))  &trans           &trans
&trans  &trans  &kp LSHFT  &trans  &kp LCTRL           &trans  &trans            &trans          &trans  &trans          &trans          &trans          &trans           &trans
                           &trans  &tog 5              &trans                                    &trans  &trans          &trans
            >;

            label = "导航快捷键";
        };

        Others_KP {
            bindings = <
&soft_off       &kp C_PAUSE     &kp LA(LEFT)    &kp LA(RIGHT)   &kp F5          &bt BT_SEL 2                    &trans          &kp KP_ASTERISK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_DIVIDE    &trans
&bt BT_CLR      &kp LG(LC(N4))  &kp LG(LC(N3))  &kp LG(LC(N2))  &kp LG(LC(N1))  &bt BT_SEL 1            &trans  &trans  &trans  &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT  &trans
&bt BT_CLR_ALL  &kp LGUI        &kp LSHFT       &kp LCTRL       &kp LALT        &bt BT_SEL 0  &trans            &trans          &kp KP_NUMLOCK   &kp KP_NUMBER_1  &kp KP_N2        &kp KP_N3        &kp KP_DOT       &trans
                                                &kp PAGE_DOWN   &trans          &kp PAGE_UP                                     &kp KP_N0        &trans           &trans
            >;

            label = "杂项和小键盘";
        };

        Gaming {
            bindings = <
&kp ESC            &kp TAB    &kp Q  &kp W  &kp E     &kp R                        &trans          &kp Y      &kp U     &kp I      &kp O    &kp P     &kp T
&kp GRAVE          &kp LSHFT  &kp A  &kp S  &kp D     &kp F                &trans  &trans  &trans  &kp H      &kp J     &kp K      &kp L    &kp SEMI  &kp G
&Gaming_layer 7 I  &kp LCTRL  &kp Z  &kp X  &kp C     &kp V      &trans            &trans          &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH  &kp B
                                     &kp B  &kp LALT  &kp SPACE                                    &kp ENTER  &kp APOS  &kp BSPC
            >;

            label = "游戏按键的单手键盘";
        };
    };
};
